  
.navbar{
    background-color: skyblue;
    font-family: 'Bangers', cursive;
    font-size: 21px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.label{
    color:darkblue;
    text-align: center;
}
#logosize{
    width:  250px;
    height: 125px;
};