.poohBear{
    background-color: skyblue;
    font-family: 'Bangers', cursive;
    font-size: 21px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.label{
    color:gold;
    text-align: center;
}

.babel{
    color:gold;
    width: 100%;
    float: left;
    padding: 0;
    list-style: none;
    background-color: skyblue;
    border-bottom: 1px;
    border-top: 1px;
}

#logosize{
    width:  250px;
    height: 125px;
}